#always-auth=true
#@chemstech:registry=https://npm.pkg.github.com/
#_authToken=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
#//npm.pkg.github.com/:_authToken=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
#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
#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